<div class="container">
  <div class="card">
    <img
      src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/94.png"
      alt=""
    />
    <p>NAME: Gengar</p>
    <p class="badge-poison">Poison</p>

    <div class="stats">
      <p [style]="{ color: 'red' }">HP:23</p>
      <p [style]="{ color: '#FF5000' }">attack:23</p>
      <p [style]="{ color: '#00CCCC' }">speed:23</p>
      <p [style]="{ color: 'gray' }">defense:23</p>
    </div>
  </div>
  <div class="card"></div>
  <div class="card"></div>
  <div class="card"></div>
  <div class="card"></div>
  <div class="card"></div>
  <div class="card"></div>
  <div class="card"></div>
  <div class="card"></div>
  <div class="card"></div>
</div>
