.card {
  font-size: 15px;
  width: 200px;
  height: 220px;
  margin: 1.8rem;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all ease-out 0.2s;
}
.card:hover {
  transform: translateY(-10px);
}
.stats {
  padding-top: 3px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  font-style: italic;
}
.stats > p {
  margin: 0 6px;
}
.container {
  display: flex;
  padding-top: 3rem;
  height: 100%;
  font-size: 18px;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 1278px;
}
.badge-poison {
  margin-top: 5px;
  background-color: rgb(225, 0, 255);
  color: white;
  text-align: center;
  border-radius: 7px;
  padding: 0 3px;

  font-size: 1rem;
}
.badge-grass {
  background-color: rgb(34, 255, 0);
  color: white;
  text-align: center;
  border-radius: 7px;
  padding: 0 3px;

  font-size: 1rem;
}
.badge-eletric {
  background-color: rgb(238, 255, 0);
  color: white;
  text-align: center;
  border-radius: 7px;
  padding: 0 3px;
  color: rgba(10, 25, 241, 0.932);

  font-size: 1rem;
}
.badge-dragon {
  background-color: rgb(163, 16, 11);
  color: white;
  text-align: center;
  border-radius: 7px;
  padding: 0 3px;

  font-size: 1rem;
}
.badge-fire {
  background-color: rgb(224, 91, 2);
  color: white;
  text-align: center;
  border-radius: 7px;
  padding: 0 3px;

  font-size: 1rem;
}
.badge-water {
  background-color: rgb(2, 135, 224);
  color: white;
  text-align: center;
  border-radius: 7px;
  padding: 0 3px;

  font-size: 1rem;
}
.badge-psychic {
  background-color: rgb(248, 46, 238);
  color: white;
  text-align: center;
  border-radius: 7px;
  padding: 0 3px;

  font-size: 1rem;
}
.badge-bug,
.badge-grass {
  background-color: rgb(23, 201, 0);
  color: white;
  text-align: center;
  border-radius: 7px;
  padding: 0 3px;

  font-size: 1rem;
}
.badge-normal {
  background-color: rgb(38, 145, 104);
  color: white;
  text-align: center;
  border-radius: 7px;
  padding: 0 3px;

  font-size: 1rem;
}
.name {
  margin-bottom: 0.5rem;
}

@media (max-width: 1200px) {
  .container {
    width: 1000px;
  }
}
@media (max-width: 1000px) {
  .container {
    width: 900px;
  }
}

@media (max-width: 768px) {
  .container {
    width: 500px;
  }
}

@media (max-width: 768px) {
  .container {
    width: 500px;
  }
}
@media (max-width: 640px) {
  .container {
    width: 400px;
  }
}
