.main {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height:100%;
  flex-direction: column;
  padding-top: 4rem;
}

@media (max-width: 768px) {
  .main {
    padding-top: 2rem;
  }
}
